.popup__close-button {
  position: absolute;
  right: -35px;
  top: -35px;
  cursor: pointer;
}

@media screen and (max-width: 319px) {
  .popup__close-button {
    right: 0;
    top: -50px;
    width: 26px;
    height: 26px;
}
}

