.profile__vector {
  border: 1px solid #FFFFFF;
  padding: 7px;
  margin: 0 0 7px 18px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  background-color: #000000;
  align-self: flex-end;
}

.profile__vector:hover {
  opacity: 0.8
}

@media screen and (max-width: 900px) {
  .profile__vector {
    margin-left: 10px;
  }
}