.profile__vector {
  border: 1px solid #FFFFFF;
  padding: 7px;
  width: 10px;
  margin-left: 18px;
}

.profile__vector:hover {
  opacity: 0.8
}

@media screen and (max-width: 900px) {
  .profile__vector {
    width: 5px;
    height: 5px;
    margin-left: 10px;
  }
}