/*
.popup__line {
  border-bottom: 1px solid #000000;
  width: 358px;
  opacity: 0.2;
  margin: 13px 36px 0;
}

.popup__line:hover {
  opacity: 1;
}

@media screen and (max-width: 900px) {
  .popup__line {
    width: 238px;
    margin: 13px 22px 0;
}
}
*/