.header__logo {
  align-self: flex-start;
  opacity: 1.0;
  width: 142px;
  height: 33px;
  background-image: url(../../../images/MestoLogoDesk.svg);
}

.header__logo:hover {
  opacity: 0.5;
}

@media screen and (max-width: 900px) {
  .header__logo {
    width: 104px;
    height: 25px;
    margin: 28px 27px;
    background-image: url(../../../images/MestoLogo.svg);
  }
}