.profile__container {
  
  padding-top: 26px;
  display: flex;
}

@media screen and (max-width: 900px) {
  .profile__container {
    width: 240px;
    justify-content: center;
    margin-left: 46px;
}
}