.popup__close-button {
  position: absolute;
  right: -45px;
  top: -45px;
  cursor: pointer;
  z-index: 5;
  background: transparent;
  border: 0;
  width: 55px;
  height: 55px;
  padding: 0;
  background-image: url(../../../images/ClosebuttonDesk.svg);
}

.popup__close-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 900px) {
  .popup__close-button {
    right: -15px;
    width: 45px;
    height: 45px;
    background-image: url(../../../images/Closebutton.svg);
  }
}

