.profile__info {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1300px) {
  .profile__info {
    width: 511px;
  }
}

@media screen and (max-width: 900px) {
  .profile__info {
    width: 282px;
    
}
}
